<!DOCTYPE html>
<html>
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body>
    <h1 class="text-3xl text-gray-700 font-main"><%= title %></h1>
    <p class="font-secondary text-2xl">Welcome to <%= title %></p>
    <p>Sub</p>
  </body>
</html>
