<!DOCTYPE html>
<html>
  <head>
    <%-include('./partial/head.ejs') %>
  </head>
  <body>
    <h1 class="text-gray-500"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Sub</p>
  </body>
</html>
